extends ../extends/layout.pug

block body
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href='#')
                    b Yaki
                    | tori
            .card
                .card-body.login-card-body
                    p.login-box-msg= __('Sign in to start your session')
                    form(method="post")
                        .input-group.mb-3
                            input#email_input.form-control(name='email_input', type='email', placeholder=__('Email'), value=email)
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-envelope
                        .input-group.mb-3
                            input#password_input.form-control(name='password_input', type='password', placeholder=__('Password'))
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-lock
                        .row
                            .col-8
                                .icheck-primary
                                    input#remember(type='checkbox')
                                    label(for='remember')= __('Remember Me')
                            .col-4
                                button.btn.btn-primary.btn-block(type='submit')= __('Login')
                    p.mb-1
                        a(href='forgot-password.html')= __('I forgot my password')