doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Yaki
        link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/plugins/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
        link(rel="stylesheet", href="/dist/css/adminlte.min.css")
        link(rel="stylesheet", href="/plugins/toastr/toastr.min.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700",rel="stylesheet")
        block css-links
        
    
    block body
    block foot
    script(src="/plugins/jquery/jquery.min.js")
    script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/dist/js/adminlte.min.js")
    script(src="/moment/moment.js")
    <script src="/plugins/toastr/toastr.min.js"></script>
    script(src=urlBase+"/js/templates.js")
    script(src=urlBase+"/js/main.js")
    script(type="text/javascript").
        const urlBase = '!{urlBase}';
    if alert
        script(type="text/javascript").
            var alerting = "";
            alerting = !{alert};
    script(src=urlBase+"/js/alert.js")
        

    block js-scripts
